ion-content{
  --background: #f0f0f2;
  .upperBox{
  background-color:#fff;
  box-shadow: rgba(0,0,0,0.15) 1.95px 1.95px 2.6px;
  padding:20px;
  height: auto;

  h3{
  font-size:20px;
  color:06283D;
  }
  
  }
}